<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!-- Main Content -->
<link rel='stylesheet' href='/Content/app.css' />
<main>
<body>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
    <br>
    <p>
    I wanted to make a list in which people would be able to check when an NBA player had a career-like game dropping 50 points or more.<br>
    My inspiration came from Joel Embiid who scored 59 points against the Jazz, Darius Garland who scored 51 against the Timberwolves on the same day, and Stephen Curry who scored 50 the next day.<br>
    I wanted to just do the 2023 season but I figured that I would need a larger sample size, so I included the previous season (2022) as well. 
</p>
  </div>
</div>
</body>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>


